WizardLM-HTTP-Flow.json
[
    {
        "id": "763721aa65f0471b",
        "type": "comment",
        "z": "50ed45470ea01d88",
        "name": "WizardLM",
        "info": "",
        "x": 740,
        "y": 1340,
        "wires": []
    },
    {
        "id": "1cef88336b25441a",
        "type": "http in",
        "z": "50ed45470ea01d88",
        "name": "[get] /wizardlm",
        "url": "/mac-mini-m1.local/wizardlm",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 760,
        "y": 1400,
        "wires": [
            [
                "2d3a14085ffbd95a"
            ]
        ]
    },
    {
        "id": "f9aafb1df135391b",
        "type": "function",
        "z": "50ed45470ea01d88",
        "name": "WizardLM",
        "func": "(async () => {\n  let Prompt = (msg.payload || '').trim()\n  if (Prompt === '') {\n    msg.payload = 'empty or missing prompt'\n    node.send([null,msg])\n    return\n  }\n\n/**** retrieve settings or provide defaults ****/\n\n  let Seed = parseInt(msg.seed,10)\n  if (isNaN(Seed)) { Seed = -1 }\n\n  let Threads = parseInt(msg.threads,10)\n  if (isNaN(Threads)) { Threads = 4 }\n  Threads = Math.max(1,Threads)\n  Threads = Math.min(Threads,Math.max(1,os.cpus().length))\n\n  let Context = parseInt(msg.context,10)\n  if (isNaN(Context)) { Context = 512 }\n  Context = Math.max(0,Math.min(Context,2048))\n\n  let keep = parseInt(msg.keep,10)\n  if (isNaN(keep)) { keep = 0 }\n  keep = Math.max(-1,Math.min(keep,2048))\n\n  let Prediction = parseInt(msg.predict,10)\n  if (isNaN(Prediction)) { Prediction = 128 }\n  Prediction = Math.max(1,Math.min(Prediction,2048)) // no -1!\n\n  let topK = parseInt(msg.topk,10)\n  if (isNaN(topK)) { topK = 40 }\n  topK = Math.max(1,Math.min(topK,100))\n\n  let topP = parseFloat(msg.topp)\n  if (isNaN(topP)) { topP = 0.9 }\n  topP = Math.max(0.1,Math.min(topP,1.0))\n\n  let Temperature = parseFloat(msg.temperature)\n  if (isNaN(Temperature)) { Temperature = 0.8 }\n  Temperature = Math.max(0.0,Math.min(Temperature,1.0))\n\n  let Batches = parseInt(msg.batches,10)\n  if (isNaN(Batches)) { Batches = 8 }\n  Batches = Math.max(1,Math.min(Batches,100))\n\n  Prompt = Prompt.replace(/\"/g,'\\\\\"')\n\n/**** combine all these settings into a command ****/\n\n  let Command = ( 'cd ai && ' +\n    './llama --model ./ggml-wizardlm-7b-q4_0.bin --mlock ' +\n    ' --ctx_size ' + Context + ' --keep ' + keep +\n    ' --n_predict ' + Prediction +\n    ' --threads ' + Threads + ' --batch_size ' + Batches +\n    ' --seed ' + Seed + ' --temp ' + Temperature +\n    ' --top_k ' + topK + ' --top_p ' + topP +\n    ' --reverse-prompt \"<|endoftext|>\"' +     // experimental\n    ' --prompt \"' + Prompt + '\"'\n  )\n\n/**** extract actual reponse from command output ****/\n\n  function ResponseFrom (Text) {\n    let HeaderLength = Text.indexOf('\\n\\n\\n')\n    Text = Text.slice(HeaderLength + 1)\n\n    let TrailerIndex = Text.indexOf('<|endoftext|>')\n    if (TrailerIndex < 0) {\n      TrailerIndex = Text.indexOf('\\nllama_print_timings')\n    }\n    Text = Text.slice(0,TrailerIndex)\n\n    return Text\n  }\n\n/**** now infer a response from the given prompt ****/\n\n  let { stdout,stderr, StatusCode,Signal } = child_process.spawnSync(\n    'bash', [], { input:Command }\n  )\n\n  stdout = stdout.toString().trim()\n  stderr = stderr.toString().trim()\n\n  switch (true) {\n    case (StatusCode == null):\n    case (StatusCode === 0):\n      msg.statusCode = (stdout === '' ? 204 : 200)\n      msg.payload    = ResponseFrom(stdout)\n      break\n    default:\n      msg.statusCode = 500 + StatusCode\n      msg.payload    = (stdout === '' ? '' : '>>>> stdout >>>>\\n' + stdout + '\\n') +\n                       '>>>> stderr >>>>\\n' + stderr +\n                       (Signal == null ? '' : '\\n' + Signal)\n      break\n  }\n\n  node.send([msg,null])\n})()\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "os",
                "module": "os"
            },
            {
                "var": "child_process",
                "module": "child_process"
            }
        ],
        "x": 960,
        "y": 1460,
        "wires": [
            [
                "10ee081f81a9a211",
                "50138c7c51f06e4d"
            ],
            [
                "b566f55c47395bd8"
            ]
        ]
    },
    {
        "id": "d17c613210997c7a",
        "type": "debug",
        "z": "50ed45470ea01d88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "'Prompt: \"' & msg.payload & '\"'",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1520,
        "wires": []
    },
    {
        "id": "2d3a14085ffbd95a",
        "type": "reusable",
        "z": "50ed45470ea01d88",
        "name": "",
        "target": "basics:basic auth",
        "outputs": 2,
        "x": 950,
        "y": 1400,
        "wires": [
            [
                "080489d9af9281f0"
            ],
            [
                "c09620ac6309e6db"
            ]
        ],
        "outputLabels": [
            "authorized",
            "unauthorized"
        ]
    },
    {
        "id": "c09620ac6309e6db",
        "type": "http response",
        "z": "50ed45470ea01d88",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1190,
        "y": 1400,
        "wires": []
    },
    {
        "id": "b566f55c47395bd8",
        "type": "change",
        "z": "50ed45470ea01d88",
        "name": "400",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "400",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1500,
        "wires": [
            [
                "c09620ac6309e6db"
            ]
        ]
    },
    {
        "id": "10ee081f81a9a211",
        "type": "change",
        "z": "50ed45470ea01d88",
        "name": "200",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1460,
        "wires": [
            [
                "c09620ac6309e6db"
            ]
        ]
    },
    {
        "id": "50138c7c51f06e4d",
        "type": "debug",
        "z": "50ed45470ea01d88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "'Response: \"' & msg.payload & '\"'",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1540,
        "wires": []
    },
    {
        "id": "bf75b21f290f381f",
        "type": "comment",
        "z": "50ed45470ea01d88",
        "name": "cwd = server installation folder",
        "info": "",
        "x": 1110,
        "y": 1340,
        "wires": []
    },
    {
        "id": "080489d9af9281f0",
        "type": "change",
        "z": "50ed45470ea01d88",
        "name": "parse query",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.query.prompt",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "seed",
                "pt": "msg",
                "to": "req.query.seed",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "threads",
                "pt": "msg",
                "to": "req.query.threads",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "predict",
                "pt": "msg",
                "to": "req.query.predict",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topk",
                "pt": "msg",
                "to": "req.query.topk",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topp",
                "pt": "msg",
                "to": "req.query.topp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "temperature",
                "pt": "msg",
                "to": "req.query.temperature",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "batches",
                "pt": "msg",
                "to": "req.query.batches",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "model",
                "pt": "msg",
                "to": "req.query.model",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "context",
                "pt": "msg",
                "to": "req.query.context",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "keep",
                "pt": "msg",
                "to": "req.query.keep",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 1460,
        "wires": [
            [
                "f9aafb1df135391b",
                "d17c613210997c7a"
            ]
        ]
    }
]