WizardLM-Embeddings.json
[
    {
        "id": "bc8cb3c74b7802cd",
        "type": "comment",
        "z": "50ed45470ea01d88",
        "name": "WizardLM Embeddings",
        "info": "",
        "x": 2100,
        "y": 1340,
        "wires": []
    },
    {
        "id": "5d5374d8b84ef9f8",
        "type": "http in",
        "z": "50ed45470ea01d88",
        "name": "[get] /wizardlm-embeddings",
        "url": "/mac-mini-m1.local/wizardlm-embeddings",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 2120,
        "y": 1400,
        "wires": [
            [
                "3826d4c9acaea868"
            ]
        ]
    },
    {
        "id": "e9926d8261e7b7a7",
        "type": "function",
        "z": "50ed45470ea01d88",
        "name": "WizardLM Embeddings",
        "func": "(async () => {\n  let Prompt = (msg.payload || '').trim()\n  if (Prompt === '') {\n    msg.payload = 'empty or missing prompt'\n    node.send([null,msg])\n    return\n  }\n  \n/**** retrieve settings or provide defaults ****/\n\n  let Seed = parseInt(msg.seed,10)\n  if (isNaN(Seed)) { Seed = -1 }\n  \n  let Threads = parseInt(msg.threads,10)\n  if (isNaN(Threads)) { Threads = 4 }\n  Threads = Math.max(1,Threads)\n  Threads = Math.min(Threads,Math.max(1,os.cpus().length))\n\n  let Context = parseInt(msg.context,10)\n  if (isNaN(Context)) { Context = 512 }\n  Context = Math.max(0,Math.min(Context,2048))\n\n  Prompt = Prompt.replace(/\"/g,'\\\\\"')\n\n/**** combine all these settings into a command ****/\n\n  let Command = ( 'cd ai && ' +\n    './llama-embeddings --model ./ggml-wizardlm-7b-q4_0.bin --mlock ' +\n    ' --ctx_size ' + Context + \n    ' --threads ' + Threads +\n    ' --seed ' + Seed +\n    ' --prompt \"' + Prompt + '\"'\n  )\n\n/**** extract actual reponse from command output ****/\n\n  function ResponseFrom (Text) {\n    let HeaderLength = Text.indexOf('system_info')\n    Text = Text.slice(HeaderLength + 1)\n      .replace(/^[^\\n]*\\n/,'')\n\n    let TrailerIndex = Text.indexOf('\\n\\nllama_print_timings')\n    Text = Text.slice(0,TrailerIndex)\n\n    return Text\n  }\n\n/**** now calculate embeddings for the given prompt ****/\n  \n  let { stdout,stderr, StatusCode,Signal } = child_process.spawnSync(\n    'bash', [], { input:Command }\n  )\n  \n  stdout = stdout.toString().trim()\n  stderr = stderr.toString().trim()\n\n  switch (true) {\n    case (StatusCode == null):\n    case (StatusCode === 0):\n      msg.statusCode = (stdout === '' ? 204 : 200)\n      msg.payload    = ResponseFrom(stdout)\n      break\n    default:\n      msg.statusCode = 500 + StatusCode\n      msg.payload    = (stdout === '' ? '' : '>>>> stdout >>>>\\n' + stdout + '\\n') +\n                       '>>>> stderr >>>>\\n' + stderr +\n                       (Signal == null ? '' : '\\n' + Signal)\n      break\n  }\n\n  node.send([msg,null])\n})()\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "os",
                "module": "os"
            },
            {
                "var": "child_process",
                "module": "child_process"
            }
        ],
        "x": 2310,
        "y": 1460,
        "wires": [
            [
                "7fcd33232b3a8ec4",
                "22a926c80103104a"
            ],
            [
                "86df9a27617d3817"
            ]
        ]
    },
    {
        "id": "d536cdbe5c96efac",
        "type": "debug",
        "z": "50ed45470ea01d88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "'Prompt: \"' & msg.payload & '\"'",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 2140,
        "y": 1520,
        "wires": []
    },
    {
        "id": "3826d4c9acaea868",
        "type": "reusable",
        "z": "50ed45470ea01d88",
        "name": "",
        "target": "basics:basic auth",
        "outputs": 2,
        "x": 2350,
        "y": 1400,
        "wires": [
            [
                "a64ddff7702c3a1d"
            ],
            [
                "609e6ffca5d92f41"
            ]
        ],
        "outputLabels": [
            "authorized",
            "unauthorized"
        ]
    },
    {
        "id": "609e6ffca5d92f41",
        "type": "http response",
        "z": "50ed45470ea01d88",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2510,
        "y": 1400,
        "wires": []
    },
    {
        "id": "86df9a27617d3817",
        "type": "change",
        "z": "50ed45470ea01d88",
        "name": "400",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "400",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2510,
        "y": 1500,
        "wires": [
            [
                "609e6ffca5d92f41"
            ]
        ]
    },
    {
        "id": "7fcd33232b3a8ec4",
        "type": "change",
        "z": "50ed45470ea01d88",
        "name": "200",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2510,
        "y": 1460,
        "wires": [
            [
                "609e6ffca5d92f41"
            ]
        ]
    },
    {
        "id": "22a926c80103104a",
        "type": "debug",
        "z": "50ed45470ea01d88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "'Response: \"' & msg.payload & '\"'",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 2340,
        "y": 1540,
        "wires": []
    },
    {
        "id": "ea3545c4d8f444c0",
        "type": "comment",
        "z": "50ed45470ea01d88",
        "name": "cwd = server installation folder",
        "info": "",
        "x": 2430,
        "y": 1340,
        "wires": []
    },
    {
        "id": "a64ddff7702c3a1d",
        "type": "change",
        "z": "50ed45470ea01d88",
        "name": "parse query",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.query.prompt",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "seed",
                "pt": "msg",
                "to": "req.query.seed",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "threads",
                "pt": "msg",
                "to": "req.query.threads",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "model",
                "pt": "msg",
                "to": "req.query.model",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "context",
                "pt": "msg",
                "to": "req.query.context",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2110,
        "y": 1460,
        "wires": [
            [
                "d536cdbe5c96efac",
                "e9926d8261e7b7a7"
            ]
        ]
    }
]